#tbl-customers thead tr th:first-child,
#tbl-customers thead tr td:first-child{
  width: 100px;
}

#tbl-customers thead tr th:last-child,
#tbl-customers thead tr td:last-child{
  width: 100px;
}

#tbl-customers thead tr th:nth-child(4),
#tbl-customers thead tr td:nth-child(4){
  width: 250px;
}

.contact {
  min-width: 110px;
  word-wrap: break-word;
}

#tbl-customers tbody tr {
  cursor: pointer;
}

.actions div:first-child svg:hover {
  fill: green;
}

.actions div:last-child svg:hover {
  fill: red;
}
