<div>
  <h1 class="text-center">Library Management System</h1>
  <div id="menu" class="d-flex justify-content-between">
    <nav class="p-1">
      <button routerLinkActive="active" class="btn btn-primary" routerLink="/home">Dashboard</button>
      <button routerLinkActive="active" class="btn btn-primary" routerLink="/members">Members</button>
      <button routerLinkActive="active" class="btn btn-primary" routerLink="/books">Books</button>
      <button routerLinkActive="active" class="btn btn-primary" routerLink="/issues">Issue</button>
    </nav>
    <div class="p-1 pe-4">
      <div class="mt-2">{{currentTime}}</div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
